body {
  background-color: grey;
  color: white;
}
p {
  color: black;
}
li {
  color: orange;
}
#image1 {
  display: flex;
  gap: 30px;
  width: 500px;
  height: 600px;
}

#image2 {
  display: flex;
  gap: 40px;

  height: 420px;
}
#image3 {
  display: flex;
  gap: 30px;
  height: 680px;
}
#image4 {
  display: flex;
  gap: 30px;
  height: 580px;
}
#image5 {
  display: flex;
  gap: 30px;
  height: 300px;
}
#image6 {
  display: flex;
  gap: 30px;
  height: 420px;
}
#image7 {
  display: flex;
  gap: 30px;
 height: 400px;
}
#image8 {
  display: flex;
  gap: 30px;
  height: 370px;
}
#image9 {
  display: flex;
  gap: 30px;
  height: 335Px;
}
#image10 {
  display: flex;
  gap: 30px;
  height: 405px;
}
