#title {
  font-family: georgia;
  color: blue;
  text-align: center;
}
h2 {
  color: blue;
}
body {
  background-color: aqua;
}
.elephants {
  width: 200px;
  gap: 5px;
  height: 400px;
  display: flex;
}
.gazelles {
  display: flex;
  gap: 5px;
  height: 500px;
}

.giraffes {
  display: flex;
  gap: 5px;
  height: 530px;
}
.wildbeast {
  display: flex;
  width: 600px;
  gap: 5px;
  height: 1000px;
}
.lion {
  display: flex;
  gap: 5px;
  height: 400px;
  width: 800px;
}
.antelope {
  gap: 5px;
  display: flex;
  height: 595px;
  }
.wildbeast {
  gap: 5px;
  display: flex;
  height: 365px;
  }

h2,h3,h4,h5,h6,h7,h8 {
  color: blue;
  margin-top: 20px;
}
